.grid{
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid #000 1px;
    margin-top: 200px;
}

.block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #ff0000;
}
.user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #1100ff;
}
.ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #000;
}